#footer
  .container.text-center
    div
      | © 2014 One Web For All Contributors
    div
      strong Flaminga
      |  ·
      | Created by
      | One Web For All Hackathon
    div
      a(href='https://github.com/owfa/Flaminga-Server') GitHub Project
      |  ·
      a(href='https://github.com/owfa/Flaminga-Server/issues')  Issues
