extends layout

block content
  .container
    #flash
    h1 Twitter timeline (Jade Iteration Demo)
    p
     | This is a timeline from 
     a(href='https://twitter.com') Twitter
     | .
     ol#tweet-list
       each tweet, index in feed
         li= index + ': ' + tweet.author
           span.action-buttons
              a(href='#') Reply
              a(href='#') Retweet
              a(href='#') Favorite
              a(href='#') Mute