extends ../layout

block content
  .page-header
    h2
      i.fa.fa-twitter(style='color: #4099ff')
      | #{title}

  br
  .lead Your Filtered Mentions

  ul.list-unstyled
    for tweet in tweets
      li
        .panel.panel-default
          .panel-body
            .clearfix
              - var image = tweet.user.profile_image_url.replace('_normal', '');
              img.pull-left(src='#{image}', width=50, height=50, style='margin-right: 10px')

              =tweet.user.name
              small.text-muted  @#{tweet.user.screen_name}
              br
              small #{tweet.text}
